<% @review = Review.new %>
<%= form_for(@review) do |f| %>
  <%= f.hidden_field :book_id, :value => @book.id  %>
  <div class="field" >
    <%= f.text_area :text, placeholder: "Write a review for this book..." %>
  </div>
  <%= f.select(:rating, options_for_select([['Awesome', 1], ['Good',2], ['OK', 3], ['No good',4], ['Absolutely Horrible', 5]], 3)) %>
    <%= f.submit "Post Review", class: "btn btn-large btn-primary" %>
<% end %>
