<% provide(:title, @book.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @book.title %>, </h1>
        <%= link_to @book.author.asurname, author_path(@author) %>, 
        <%= link_to @book.author.a1stname, author_path(@author) %>
      <h4>

      </h4>
    </section>
    <section>
      <h4> This book has been reviewed <%= pluralize(@book.reviews.count, "time") %>.
      <% if @book.reviews.any? %>
      And has an average review of <%= @book.reviews.average(:rating).round(1) %>
      <% end %>
      </h4>
    </section>
    <% if current_user.admin? %>
      <section>
        <%= link_to "delete", @book, method: :delete, data: {confirm: "This will delete the current book and all reviews attached to it. Are you sure?" } %>
        | <%= link_to "edit", edit_book_path(@book) %>
      </section>
      <section>
        <%= render 'shared/review_form' %>
      </section>
    <% end %>
  </aside>
  <div class="span8">
      <section>
      <h2><%= @book.description %></h2>
    <section>
      <% if @book.reviews.any? %>
        <h4 class="microposts"><%= render @reviews %></h4>
      <% else %>
        <h1>No one has reviewed this book yet. Take a second to do so by filling out the information on the left.</h1>
      <% end %>
    </section>
  </div>
</div>
